/* NavBar.css */

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 8vh;
  background-color: #1540c2;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow-x: auto; /* Allows horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  white-space: nowrap; /* Prevents the items from wrapping */
}

.navbar a.active {
  font-weight: bold;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem; /* Provide enough padding */
  margin-left: .5rem; /* Pushes the logout button to the right */
  margin-right: 1rem;
  min-width: 8rem; /* Ensure the button is not too small */
  height: auto; /* Adjust height to fit content */
  font-size: 1rem; /* Adjust font size if necessary */
  cursor: pointer;
  border-radius: 30px;
  background-color: white;
  color: black;
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
  white-space: nowrap; /* Ensure text stays on one line */
}

.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.discovery-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem; /* Provide enough padding */
  margin-left: auto;
  margin-right: 0rem;
  min-width: 8rem; /* Ensure the button is not too small */
  height: auto; /* Adjust height to fit content */
  font-size: 1rem; /* Adjust font size if necessary */
  cursor: pointer;
  border-radius: 30px;
  background-color: white;
  color: black;
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
  white-space: nowrap; /* Ensure text stays on one line */
}
.logout-popup {
  font-size: 2rem;
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.navbar-greeting {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navbar a {
    font-size: 20px; /* Slightly smaller font size for mobile devices */
  }

  .logout-button {
    font-size: 20px; /* Consistent font size for the logout button */
    padding: .25rem .5rem; /* Adjust padding for smaller screen */
    width: auto; /* Adjust width to fit content */
  }
}
